body { overflow-x: hidden; }
/* CV stuff */
ul { padding-left: 16px; }
span.firstletter { font-size: 1.2em; }
.fullname, .main-jobtitle { color: #fff; background-color: #00aeef; margin: 0; }
.section { color: #00aeef; }
.jobtitle, .schoolname { font-weight: 700; }
.companyName { text-transform: uppercase; font-weight: 600; font-size: 0.8em; }
.section { font-weight: 700; text-transform: uppercase; font-size: 1.7em; }
.time { font-style: italic; font-size: 1.2em; color: #8B8B8B; }
.tasks { font-size: 1.2em; }
.cv-label { font-size: 1.2em; display: inline-block; font-weight: 700; background: #00aeef; color: #fff; width: 100%; padding: 5px; }
.contact-information .row { padding: 2px 0; }
.contact-information .row:first-child { margin-top: 5px; }
.skills-heading { font-weight: 700; font-size: 1.3em; }
.university-url, .university-locality { display: none; }
.contact-information span { line-height: 2.5em; display: inline-block; }
@media (min-width:1200px) {
  .fullname:after, .main-jobtitle:after { content: ""; position: absolute; background: #00aeef; /* Match the background */
  top: 0; bottom: 0; width: 9999px; }
  .fullname { font-size: 4.4em; font-weight: 700; background-color: #00aeef; line-height: 1.5em; position: relative; padding-left: 26px; word-spacing: 10px; }
  .main-jobtitle { font-size: 2.8em; background-color: #00aeef; position: relative; line-height: 1.4em; padding-left: 0.4em; }
}