/* homepage */
html, body {
  color: #fff;
  height: 100%;
  background-image: linear-gradient(75deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9)60%, rgba(255, 255, 255, 0) 100%), url('/first.jpg');
  background-repeat: no-repeat, no-repeat;
  margin: 0;
  font-family: helvetica,arial,sans-serif;
}
.container {width: auto;margin: 0 auto;text-rendering: optimizeLegibility;padding-top: 150px;}
.highlight { font-weight: bold; }
h1 { margin: 0 0 5px 0; font-size: 3em; font-weight: 500; text-align: center; }
h2 { font-size: 1.8em; text-transform: uppercase; margin: 0 0 10px 0; letter-spacing: 0.8px; }
.headlines { text-align: center; }
.resume { text-transform: uppercase; text-align: center; font-size: 1.4em; letter-spacing: 1.1px; font-weight: 300; }
.aka { text-transform: none; font-size: 0.8em; }
.social { margin-top: 10px; border-top: 2px solid #fff; padding-top: 10px; }
.social a { color: #fff; display: inline-block; text-decoration: none; margin-right: 5px; font-weight: 600; font-size: 0.8em; border-bottom: 1px dotted #fff; transition: all 0.2s; }
.social a:hover { border-bottom: 1px solid #fff; color: #939296; }

@media (min-width:400px) {
  .container { width: 90%; }
}
@media (min-width:800px) {
  .container { width: 600px; }
}
