section {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  @include mq('tablet-wide') {
    flex-direction: row;
  }
}

.main-content {
  flex: 0 0 90%;
  order: 2;
  @include mq('tablet-wide') {
    order: 0;
  }
}

.navigation {
  flex: 0 0 8%;
  padding: 30px 0 30px 0;
  order: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  @include mq('tablet-wide') {
    background: none;
    width: auto;
    position: static;
    order: 0;
    margin: 0 0 0 45px;
    padding: 0;
  }
}

.flex {
  display: flex;
}

.flex-desktop {
  @include mq('desktop') {
    display: flex;
  }
}

.flex-distribute {
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  max-width: 410px;
  line-height: 2.5rem;
}

.full-height {
  min-height: calc(100vh - 50px);
  @include mq('tablet') {
    min-height: 100vh;
  }
}
