section {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  @include mq('tablet-wide') {
    flex-direction: row;
  }
}

.main-content {
  flex: 0 0 90%;
  order: 2;
  @include mq('tablet-wide') {
    order: 0;
  }
}

.navigation {
  flex: 0 0 10%;
  margin: 30px 0 30px 0;
  order: 1;
  @include mq('tablet-wide') {
    order: 0;
    margin: 0 0 0 30px;
  }
}

.flex {
  display: flex;
}

.flex-desktop {
  @include mq('desktop') {
    display: flex;
  }
}

.flex-distribute {
  flex-direction: column;
  justify-content: space-around;
}

.skills {
  max-width: 410px;
  line-height: 2.5rem;
}

.full-height {
  min-height: 100vh;
}
