/* homepage */
html {
  font-size: 10px;
}

body {
    background: black;
    @include mq('tablet') {
      background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 1) 100%), url("/static/background.jpg");
      background-repeat: no-repeat, no-repeat;
      background-position: right top;
      background-size: cover;
    }
    color: #fff;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.highlight {
  color: $red;
}

.hello {
  transition: all 0.2s;
  transform: translate3d(0,0,0);
  opacity: 1;
}

.md-show + .md-overlay {
  opacity: 0.8;
  visibility: visible;
}

.md-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: $darkgray;
  transition: all 0.3s;
}
