/* homepage */
html {
  font-size: 10px;
}

body {
    background-image: linear-gradient(-45deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.9) 58%), url('/static/background.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    color: #fff;
    margin: 0;
    text-rendering: optimizeLegibility;
}

.highlight {
  color: $red;
}

/* Enter and leave animations can use different */
/* durations and timing functions.              */
.fade-enter-active {
  transition: all .3s ease;
}
.fade-leave-active {
  transition: all .4s ease;
}
.fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateY(110px);
  opacity: 0;
}
.fade-enter {
  transform: translateY(-110px);
  opacity: 0;
}
