/* homepage */
html {
  font-size: 10px;
}
body {
    background-image: linear-gradient(75deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.9)60%, rgba(255, 255, 255, 0) 100%), url('/static/background.jpg');
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-size: 1.2rem;
}
.font-lg {
  font-size: 2.5rem;
}
.margin-bottom-m {
  margin-bottom: 15px;
}
section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container {
    margin: auto;
    max-width: 80%;
}
.valign {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-between;
}
.highlight {
    font-weight: bold;
}
h1 {
    font-size: 4.5rem;
    margin: 0 0 5px 0;
    font-weight: 100;
}
.hello:first-letter {
    color: red;
}
h2 {
    font-size: 2.5rem;
    margin: 0 0 10px 0;
    letter-spacing: 0.8px;
    font-weight: lighter;
}
.social a {
    border-bottom: 1px dotted transparent;
    color: #8a8a89;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 400;
    margin-right: 5px;
    text-decoration: none;
    transition: all 0.2s;
}
.social a:hover {
    border-bottom: 1px solid #8a8a89;
    color: #fff;
}
footer {
    padding: 40px 0;
}

.text-center {
    text-align: center;
}
@media (min-width: 1300px) {
    .social {
        width: 59%;
    }
}
@media (min-width: 900px) {
    .list-flex {
        display: flex;
    }
}
.list-flex {
    list-style-type: none;
    padding: 0;
}
.list-flex > li {
    flex-grow: 1;
}
@media (min-width: 900px) {
    .list-flex > li:after {
        content: "//";
        font-size: 1.4rem;
        margin-left: 10px;
    }
}
.list-flex > li:last-child:after {
    content: "";
}
