body {
  font-size: $font-normal;
  line-height: 1.5em;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 21px;
}

h1 {
  font-weight: 700;
  font-size: $font-huge;
  @include mq("tablet") {
    font-size: $font-huge;
  }
  margin: 0 0 1rem 0;
}

h2,
.h2 {
  @include mq("tablet") {
    font-size: $font-xl;
  }
  line-height: 42px;
  margin-bottom: 21px;
}

h3,
.h3 {
  font-size: $font-normal;
  @include mq("tablet") {
    font-size: $font-l;
  }
  line-height: 42px;
  margin-bottom: 0;
}

h4,
.h4 {
  font-size: $font-normal;
  line-height: 21px;
  margin-bottom: 0;
}

.font-small {
  font-size: $font-small;
}

.bold {
  font-weight: 700;
}

.date {
  color: $gray;
  font-weight: normal;
  display: inline-block;
  margin-right: 15px;
}
