// colors
$red: #f52e2e;
$white: #fff;
$gray: #8a8a89;
$darkgray: #474747;

// viewports
$breakpoints: (
  "phone": 400px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
);

// fonts
$font-huge: 64px;
$font-xl: 32px;
$font-l: 23px;
$font-medium: 18px;
$font-normal: 16px;
$font-small: 13px;
