// colors
$red : #F52E2E;
$white : #FFF;
$gray: #8A8A89;
$darkgray: #474747;

// viewports
$breakpoints: (
    "phone":        400px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

// fonts
$font-huge: 64px;
$font-xl: 32px;
$font-l: 23px;
$font-medium: 18px;
$font-normal: 16px;
$font-small: 13px;
