// colors
$red : #F52E2E;
$white : #FFF;

// viewports
$breakpoints: (
    "phone":        400px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

// fonts
$font-base: 16px;
$font-h1: 64px;
$font-h2: 32px;
$font-h3: 23px;
$font-h4: 16px;
$font-small: 13px;
