@import '../../sass/variables';
@import '../../sass/mixins/responsive';

.resume {
  align-items: center;
}

.work-experience {
  flex: 64%;
}

.right-column {
  flex: 36%;
  margin-left: 50px;
}

img {
  margin-bottom: 15px;
}
