@import '../../sass/variables';
@import '../../sass/mixins/responsive';

.resume {
  align-items: center;
}

.work-experience {
  flex: 64%;
}

.right-column {
  flex: 36%;
  margin-left: 50px;
}

img {
  margin-bottom: 15px;
}

.contact-info {
  text-align: center;
  border-bottom: 1px solid darken($gray, 30%);
  padding-bottom: 15px;
}

.address {
  justify-content: space-between;
}

.certifications {
  margin-top: 42px;
}
