@import '../../sass/variables';
@import '../../sass/mixins/all';

.say-hello {
  max-width: 620px;
  flex-direction: column;
}

input, select, textarea {
  font-size: $font-medium;
  margin-bottom: 20px;
  background-color: $gray;
  color: rgba($white, 0.6);
  border: transparent;
  resize: none;
  padding: 10px;
  border-radius: 5px;
  box-sizing:content-box;
  width: 90%;
  @include mq('tablet-wide') {
    width: 100%;
  }
  &::placeholder {
    color: rgba($white, 0.3);
  }
  &:focus {
    outline-color: $darkgray;
    outline-width: 3px;
  }
}

select {
  height: 25px;
  width: 90%;
  @include mq('tablet-wide') {
    border: 10px solid transparent;
    width: 100%;
  }
}

.button-svg {
  transition: all .3s;
  width: 14px;
  height: 14px;
}

button {
  background: transparent;
  color: $white;
  font-size: $font-medium;
  border-radius: 5px;
  width: 100px;
  padding: 8px;
  &:not(:disabled):hover {
    cursor: pointer;
    border-color: $darkgray;
    .button-svg {
      color: $gray;
      transform: translate(3px, -3px);
    }
  }
  &:active,
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: auto;
  }
  &.error {
    border-color: $gray!important;
    color: $gray!important;
  }
  &.sent {
    border-color: green;
  }
}

.send-mail-svg {
  margin-left: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: rgba($white, 0.6);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.fade-enter-active {
  @include loopchildren(1, 12, 0.1, 0.01, '.input');
}

.input {
  transition: opacity .1s ease-out;
}

.fade-enter {
  .input {
    opacity: 0;
  }
}

.icon-enter-active {
  transition: opacity .5s;
  .button-svg {
    transition: transform 1s;
  }
}

.icon-leave-active {
  transition: opacity .6s;
  .button-svg {
    transition: transform .8s;
  }
}

.icon-leave-to {
  opacity: 0;
  .button-svg {
    transform: translate(20px, -15px);
  }
}

.icon-enter {
  opacity: 0;
}

.error-message {
  margin-top: 10px;
}

.button-content {
  display: inline-block;
}
