@import '../../sass/variables';
@import '../../sass/mixins/all';

// Animate page
.fade-enter-active {
  @include loopchildren(1,12,0.1,0.01,'.project');
}
.fade-leave-active {
  transition: all .3s ease;
}
.fade-leave-to {
  opacity: 0;
}
.fade-enter {
  opacity: 0;
  .project {
    opacity: 0;
  }
}

.left {
  border-right: 1px solid $darkgray;
}

.right,
.left {
  width: 50%;
  height: 100vh;
}

.client--description {
  font-size: 26px;
  font-weight: 100;
  line-height: 1.4;
  padding: 60px;
  @include mq('desktop-wide') {
    padding: 150px;
  }
}

.client--logo {
    max-width: 60%;
}
