@import '../../sass/variables';
@import '../../sass/mixins/all';

// Animate page
.fade-enter-active {
  @include loopchildren(1,12,0.1,0.01,'.project');
}
.fade-leave-active {
  transition: all .3s ease;
}
.fade-leave-to {
  opacity: 0;
}
.fade-enter {
  opacity: 0;
  .project {
    opacity: 0;
  }
}

.left {
  border-right: 1px solid $darkgray;
}

.right,
.left {
  width: 100%;
  @include mq('desktop') {
    width: 50%;
  }
  height: 100vh;
}

.client--description {
  font-size: 18px;
  font-weight: 100;
  padding: 30px;
  line-height: 1.6;
  @include mq('tablet') {
    line-height: 1.4;
    font-size: 26px;
    padding: 60px;
  }
  @include mq('desktop-wide') {
    padding: 150px;
  }
}

.client--logo {
    max-width: 60%;
}

// responsive black magic
.order-column-normal {
  flex-direction: column;
  @include mq('desktop') {
    flex-direction: row;
  }
}

.order-reverse {
  flex-direction: column-reverse;
  @include mq('desktop') {
    flex-direction: row;
  }
}
