@import '../../sass/variables';
@import '../../sass/mixins/all';

.container {
  justify-content: flex-end;
  padding-right: 30px;
  margin-top: 10px;
  @include mq('tablet-wide') {
    margin-top: 20px;
  }
}

a {
  display: block;
  margin: 0 9px;
  padding-bottom: 2px;
  &:active {
    &:before {
      transform: scale(0.8);
    }
  }
  &:hover {
    border-bottom: 1px solid $red;
  }
  &.router-link-active {
    border-bottom: 1px solid $red;
  }
}

.menu-item {
  display: flex;
  &:not(:last-child):after {
    content: "//";
    font-size: 25px;
    color: $red;
  }
}
