@import '../../sass/variables';
@import '../../sass/mixins/all';

.container {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  @include mq('phone') {
    justify-content: space-around;
  }
  @include mq('tablet-wide') {
    flex-direction: column;
    height: 100vh;
  }
}

.container {
  flex: 0 0 8%;
  padding: 30px 0 30px 0;
  order: 1;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
  @include mq('tablet-wide') {
    background: none;
    width: auto;
    position: static;
    order: 0;
    margin: 0;
    padding: 0;
  }
}

.menu-item {
  position: relative;
}

a {
  display: block;
  padding-left: 18px;
  &:before {
    content: '//';
    @include mq('tablet') {
      content: '';
      border-radius: 50%;
      width: 15px;
      height: 15px;
      position: absolute;
      left: -8px;
      top: 7px;
      background: $white;
      transition: all 0.2s;
    }
  }
  &:active {
    &:before {
      transform: scale(0.8);
    }
  }

  &:hover {
    color: $red;
    &:before {
      @include mq('tablet') {
        background: $red;
      }
    }
  }
  &.router-link-active {
    color: $red;
    &:before {
      @include mq('tablet') {
        background: $red;
        transform: scale(1.3);
      }
    }
  }
}


// Animate Menu
// Animate page
.text {
  transition: padding-left .5s ease-in;
}
.menu-enter-active {
  // @include loopchildren(1,4,0.8,'.menu-item .text');
}
.menu-leave-to {
  opacity: 0;
}
.menu-enter {
  .menu-item {
    .text {
      padding-left: 36px;
      opacity: 0;
      &:before {
        transform: scale(0);
      }
    }
  }
}
