@import '../../sass/variables';
@import '../../sass/mixins/all';

.container--navigation {
  position: fixed;
  top: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 5px;
  white-space: nowrap;
  left: 0;
  width: 100%;
  background: #000;
  @include mq('tablet') {
    background: none;
    width: auto;
    overflow: hidden;
    left: initial;
    right: 20px;
    position: absolute;
    margin-top: 20px;
  }

  .menu-item {
    a {
      display: block;
      margin: 0 4px;
      padding-bottom: 2px;
      &:active {
        &:before {
          transform: scale(0.8);
        }
      }
      &:hover {
        border-bottom: 1px solid $red;
      }
      &.router-link-active {
        border-bottom: 1px solid $red;
      }
      @include mq('tablet') {
        margin: 0 9px;
      }
    }
    display: flex;
    &:not(:last-child):after {
      content: "/";
      @include mq('tablet') {
        content: "//";
      }
      font-size: 25px;
      color: $red;
    }
  }
}
