@import '../../sass/variables';

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  backface-visibility: hidden;
  -webkit-filter: blur(0);
}

.md-content {
  background: $darkgray;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 10px 10px 132px 16px rgba(0,0,0,0.35);
}

.md-show {
  visibility: visible;
}

.md-show.md-effect-1 .md-content {
  transform: scale(1);
  opacity: 1;
}

.md-effect-1 .md-content {
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
}

.buttons-wrapper {
  margin-top: 15px;
}

.btn {
  display: inline-block;
  border: 1px solid $white;
  padding: 10px 30px;
  font-weight: 700;
  transform: perspective(1px) translateZ(0);
  transition-property: color;
  transition-duration: 0.3s;
  box-shadow: 0 0 1px transparent;
  position: relative;
  vertical-align: middle;
  &:hover {
    color: $darkgray;
    &:before {
      transform: scaleX(1);
    }
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $white;
    background: $white;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}